.gradient-custom {
    background-image: url(../img/image.png);
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    .vh-100 {
        background-image: url(../img/image.png);
        background-size: cover;       /* Hace que la imagen ocupe todo el contenedor */
        background-position: center;  /* Centra la imagen dentro del contenedor */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
               /* Asegura que el contenedor tenga el 100% del ancho de la ventana */
    }