<nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Shear</a>

        <div class="offcanvas offcanvas-start text-bg p-sidebar" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="profile-section">
                <img src="https://w7.pngwing.com/pngs/16/488/png-transparent-people-silhouette-avatar-profile-view-businessman-men-symbol-businesswoman-suit-business-thumbnail.png" alt="Profile" class="profile-image" />
                <h3 class="student-name">Sulamita Valdivia Samia</h3>
                <p class="student-role">Estudiante</p>
            </div>
            
            <div class="menu">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="#">Desarrollo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="#">Final</a>
                    </li>
                </ul>
            </div>

            <div class="settings">
                <a href="#" class="setting-item">
                    <i class="pi pi-cog p-mr-2"></i> Configuración
                </a>
                <a href="#" class="setting-item">
                    <i class="pi pi-user p-mr-2"></i> Cerrar sesión
                </a>
                <img src="src/app/component/img/Universidad-Peruana-Union-UPeU.pngsrc" alt="Logo" class="item-institucional" />
            </div>
        </div>
    </div>
</nav>
